
<section id="portfolio">

    <h2>Portfolio</h2>

    @if (projects is null)
    {
        <p><em>Loading...</em></p>
    }
    else
    {
        <div class="container">
            @foreach (var project in projects)
            {
                <ProjectComponent Project="@project" />
            }
        </div>
    }

</section>


